<main>
	<p>1. Two Sum</p><p><button (click)="runTwoSum();">Two Sum</button></p>

	<!-- linked list testing -->
	<p>Linked List Testing</p>
	<p><button class="btn btn-success" (click)="runLinkedList();">Run Linked List</button></p>



	<p>2. Add Two Numbers</p><p><button (click)="runAddTwoNumbers();">Add Two Numbers</button></p>


	<p>Reverse then print a linked list</p>
	<p>
		<button 
			class="btn btn-success"
			(click)="runReverseLinkedList();"
		>
			Reverse and Print a Linked List
		</button>
	</p>

	<p>Reverse then add a linked list</p>
	<p>
		<button
			class="btn btn-success"
			(click)="reverseThenSumLinkedListByDavid()"
		>
			Reverse and Sum a Linked List
		</button>
	</p>

	<p>Solution - reverse then add two linked lists.</p>
	<p>
		<button
			class="btn btn-success"
			(click)="solution()"
		>
			Solution
		</button>
	</p>

	<p>CyclicRotation - Rotate an array to the right by a given number of steps</p>
	<p>
		<button
			class="btn btn-success"
			(click)="_cyclicRotation()"
		>
			Cyclic Rotation
		</button>
	</p>
	<p><br /><br /><br /><br /></p>
</main>